{% extends 'base.html' %}


{%block contenido%}
<h1>{%block titulo%} Dashboard {%endblock%}</h1>

<h3>Total Facturado este mes: {{ monto }}</h3>

<h4>Calcular %</h4>

<form action="/dashboard" method="post">
    <input type="text" placeholder="5%" class="form-control" id="validationCustom01" name="porciento" required>
    
    <div class="form-group">
        <button type="submit" class="btn btn-success">Calcular</button>
    </div>
    
</form>

<h3>Monto a Pagar: {{ monto_P }}</h3>
{%endblock%}