{% extends 'base.html' %}

{%block titulo%} Gestionar {%endblock%}

{%block contenido%}

<h1>Tabla de Consultas</h1>
<a href="{{ url_for('gestion') }}"><h3 class="btn btn-primary">Tabla de Consultas</h3></a>
<a href="{{ url_for('registro') }}"><h3 class="btn btn-primary">Registrar Consulta</h3></a>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Monto</th>
      <th scope="col">Fecha</th>
    </tr>
  </thead>
  <tbody>
      {% for consulta in consultas %}
          <tr>
            <th scope="row">{{ consulta['consulta'] }}</th>
            <td>{{ consulta['nombre'] }}</td>
            <td>{{ consulta['apellido'] }}</td>
            <td>{{ consulta['descripcion'] }}</td>
            <td>RD${{ consulta['monto']}}.00</td>
            <td>{{ consulta['fecha'] }}</td>
          </tr>
      {% endfor %}
      
  </tbody>
</table>
        
{%endblock%}