{% extends 'base.html' %}

{%block titulo%} Inicio {%endblock%}
{%block contenido%}
<div class="d-grid gap-2 col-6 mx-auto">
        <a class="btn btn-primary" href="{{ url_for('gestion') }}"><button class="btn btn-primary" type="button">Ver Consultas</button></a>
        <a class="btn btn-primary" href="{{ url_for('registro') }}"><button class="btn btn-primary" type="button">Nueva Consulta</button></a>
        <a class="btn btn-primary" href="{{ url_for('dashboard') }}"><button class="btn btn-primary" type="button">Dashboard</button></a>
</div>
{%endblock%}