{% extends 'base.html' %}

{%block titulo%} Gestionar {%endblock%}

{%block contenido%}

<h1>Registrar Consulta</h1>

<a href="{{ url_for('gestion') }}"><h3 class="btn btn-primary">Tabla de Consultas</h3></a>
<a href="{{ url_for('registro') }}"><h3 class="btn btn-primary">Registrar Consulta</h3></a>

<form action="/registro" method="POST">

    <div class="input-group mb-3">
      <span class="input-group-text">Nombre</span>
      <input name="nombre" type="text" class="form-control" placeholder="Nombre" aria-label="Server">
      <span class="input-group-text">Apellido</span>
      <input name="apellido" type="text" class="form-control" placeholder="Apellido" aria-label="Server">
      <span class="input-group-text">RD$</span>
      <input name="monto" type="text" class="form-control" placeholder="0" aria-label="Amount (to the nearest dollar)">
      <span class="input-group-text">.00</span>
    </div>
    <div class="input-group">
      <span class="input-group-text">Descripción de Cita</span>
      <textarea class="form-control" placeholder="Escriba el motivo de la Cita" aria-label="With textarea" name="descripcion"></textarea>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Registrar</button>
    </div>
</form>


{%endblock%}
